// color
$white: #fff;
$black: #000;
$primary: #1d2123;
$secondary: #b4e114;
$tertiary: #2f6bbfb3;
$header-nav-link: #ffffff69;
$header-border: #fff3;
$black-3: #0000004d;
$white-2: #fff3;
$footer-nav: #797979;
